/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}


/* Layout */

body{
    background-color: rgb(54, 54, 54);
}

header{
    margin-bottom: 30px;
}

footer{
    padding-bottom: 75px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(100%/12*4);
}

.col-6{
    width: calc(100%/12*6);
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 18px;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 18px;
    margin-top: 30px;
    min-height: 400px;
}

.body-bg-img{
    position: fixed;
    z-index: -999;
    width: 100vw;
    height: 100vh;
}

/* Utility */

.red{
    color: red;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

/*\ Header Section /*/

.header-section{
    width: 100%;
    background-color: crimson;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -99;
}

.header-section__title{
    color: white;
    text-align: center;
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
}

.dragon-h-icon-left{
    max-width: 300px;
    position: absolute;
    z-index: -5;
    bottom: 0;
    left: 0;
    animation: flyLeft 5s linear infinite;
}

.dragon-h-icon-right{
    max-width: 300px;
    position: absolute;
    z-index: -5;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
    animation: flyRight 5s linear infinite;
}

@keyframes flyLeft{
    0% {
        transform:  translateX(0) rotate(0deg);
    }

    49.99% {
        transform:  translateX(calc(50vw - 150px)) rotate(0deg);
    }

    50% {
        transform:  translateX(calc(50vw - 150px)) rotateY(180deg);
    }

    99.99% {
        transform:  translateX(0) rotateY(180deg);
    }

    100% {
        transform:  translateX(0) rotateY(0deg);
    }
}


@keyframes flyRight{
    0% {
        transform:  translateX(0) rotateY(180deg);
    }

    49.99% {
        transform:  translateX(calc(-50vw + 150px)) rotateY(180deg);
    }

    50% {
        transform:  translateX(calc(-50vw + 150px)) rotateY(0deg);
    }

    99.99% {
        transform:  translateX(0) rotateY(0deg);
    }

    100% {
        transform:  translateX(0) rotateY(180deg);
    }
}


/*\ Main Section /*/

/* Dice Select Section */
.tab-selection-section__select-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-selection-section__select-box label{
    color: white;
    font-size: 24px;
    padding: 30px 0;
}

.select-wrapper select{
    color: white;
    background-color: black;
    padding: 5px 20px;
    font-size: 18px;
}

.select-wrapper button{
    border: transparent;
    background-color: transparent;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: crimson;
    cursor: pointer;
}

/* Tabs Section*/
.roll-tab-section{
    padding: 35px 0 0 0;
}

.roll-tab-section__title{
    text-align: center;
    color: crimson;
}

.roll-tab-section__title input{
    color: crimson;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid crimson;
    width: 55px;
    appearance: auto;
    -moz-appearance: textfield;
}


.roll-tab-section__subtitle{
    text-align: center;
    color: wheat;
    font-size: 18px;
    margin-top: 5px;
}

.roll-tab-section__tabs-wrapper{
    margin: 75px 0;
}


.roll-tab-section__tabs-wrapper .col-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roll-tab-section__tabs-wrapper__tab--4d6,
.roll-tab-section__tabs-wrapper__tab--5d6,
.roll-tab-section__tabs-wrapper__tab--6d6{
    color:  white;
    border: 1px solid white;
    width: fit-content;
    padding: 15px;
    font-size: 32px;
    width: 350px;    
}

.roll-tab-section__tabs-wrapper__tab--4d6 li,
.roll-tab-section__tabs-wrapper__tab--5d6 li,
.roll-tab-section__tabs-wrapper__tab--6d6 li{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.roll-tab-section__tabs-wrapper__tab--4d6 li div,
.roll-tab-section__tabs-wrapper__tab--5d6 li div,
.roll-tab-section__tabs-wrapper__tab--6d6 li div{
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;    
}

.roll-button{
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 18px;
    background-color: crimson;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}


/*\ Footer \*/

.footer-title{
    text-align: center;
    color: crimson;
    margin-bottom: 20px;
}

.statsDice{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.statsDice li{
    margin-bottom: 11px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash{    
    margin-left: 45px;
}

.dash p{
    display: inline-block;
}

.dash span{
    margin-right: 10px;
}

.dice-img{
    max-width: 25px;
    margin-right: 10px;
}

/* Toggle Stat section */

.toggle-stats{
    display: flex;
    color: white;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.crimson{
    color: crimson;
}

.white{
    color: white;
}

.toggle-stats__title{
    margin-top: 50px;
    text-align: center;
    color: white;
}

.box{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 18px;
}

.box:hover{
    background-color: black;
}



/* Media Query Mobile */


@media(max-width: 450px)
{
    .container {
        max-width: 400px;
        margin: 0 auto;
    }

    .col-4{
        
        width: calc(100%/12*12);
        margin-top: 15px;
    }

    .toggle-stats{
        overflow-x: scroll;
    }


    .dragon-h-icon-left{
        display: none;
    }
    
    .dragon-h-icon-right{
        display: none;
    }
}